<h1 style=">Universidad Castro Carazo</h1>
<h2>Analisis Datos</h2>

<h1 style="color:#a9da88; text-align: center"> Universidad Castro Carazo</h1>
<h2 style="color:#fb7968; text-align: center">Analisis datos</h2>
<br/>
<p style="font-family: sans-serif; text-align:justify">El analisis de datos es un proceso sistematico y metodico que implica la recopilacion e interpretacion y visualizacion de conjuntos de datos con el objetivo de extraer informacion significativa y relevante. Este proceso utiliza herramientas, tecnologias y  procesos para encontrar tendencias y resolver prolemas mediante datos.</p>

<table>
    <tr>
        <td>Repositorio del set de datos</td>
        <td><a href="https://paletadecolores.com.mx/">Enlace</a></td>
    </tr>
    <tr>
        <td>Paleta de colores</td>
        <td><a href="https://paletadecolores.com.mx/">Enlace</a></td>
    </tr>
</table>

<h2>1. Carga y estandarizacion del set de datos</h2>
<ul>
    <li>Instalar las librerias necesarias</li>
    <li>Importar los archivos csv</li>
    <li>Revision general de los set de datos</li>
    <li>Generar un unico Data set</li>
</ul>

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
cols = [
    "symboling",
    "Normalized",
    "make",
    "fuel",
    "aspiration",
    "doors"
    "style",
    "wheels",
    "engine"
    "base",
    "length",
    "width",
    "heingt",
    "curb",
    "engineType",
    "Cylind3rs",
    "engine size",
    "system",
    "bor3",
    "stroke",
    "compression",
    "hOrsepower",
    "peak",
    "CITY",
    "Higway",
    "price"
]

In [3]:
dfAutos1 = pd.read_csv("Autos1.csv", names=cols)
dfAutos2 = pd.read_csv("autos.csv", names=cols)
print(f"La dimension del set de datos 1 es: {dfAutos1.shape}")
print(f"La dimension del set de datos 2 es: {dfAutos2.shape}")

La dimension del set de datos 1 es: (29, 24)
La dimension del set de datos 2 es: (197, 24)

In [4]:
dfAutos1.head(3)

      symboling Normalized make fuel aspiration doorsstyle wheels  enginebase  \
2 134    toyota        gas  std  two    hardtop        rwd  front        98.4
  134    toyota        gas  std  two  hatchback        rwd  front        98.4
  134    toyota        gas  std  two    hardtop        rwd  front        98.4

       length  width  ...  engine size  system  bor3 stroke  compression  \
2 134   176.2   65.6  ...          146    mpfi  3.62    3.5          9.3
  134   176.2   65.6  ...          146    mpfi  3.62    3.5          9.3
  134   176.2   65.6  ...          146    mpfi  3.62    3.5          9.3

      hOrsepower  peak  CITY  Higway  price
2 134        116  4800    24      30   9639
  134        116  4800    24      30   9989
  134        116  4800    24      30  11199

[3 rows x 24 columns]

In [5]:
dfAutos2.tail(3)

,,symboling,Normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,67.2,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,188.8,67.2,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,67.2,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

<h4>1.3) Revisar los encabezados de los set de datos</h4>
<h5>
    Sanas practicas para nombrar las variables:
    <ol>
        <li>Los nombres de variables no deben de empezar con un numero</li>
        <li>Los nombres no pueden ser iguales a una palabra reservada (for, if, print)</li>
        <li>
            Los nombres no deben de contener espacios (engine size -> engineSize / engine-size)
        </li>
        <li>
            Los nombres de variables deben estar en el mismo idioma
        </li>
        <li>
            Los nombres de variables deben estar todos en Minuscula o Mayuscula
        </li>
    </ol>
</h5>

In [7]:
print(f"Listado de variables dfAutos1: {dfAutos1.columns}")
print(f"Listado de variables dfAutos2: {dfAutos2.columns}")

Listado de variables dfAutos1: Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doorsstyle',
       'wheels', 'enginebase', 'length', 'width', 'heingt', 'curb',
       'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3', 'stroke',
       'compression', 'hOrsepower', 'peak', 'CITY', 'Higway', 'price'],
      dtype='object')
Listado de variables dfAutos2: Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doorsstyle',
       'wheels', 'enginebase', 'length', 'width', 'heingt', 'curb',
       'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3', 'stroke',
       'compression', 'hOrsepower', 'peak', 'CITY', 'Higway', 'price'],
      dtype='object')

<h4>1.4) Generar un unico set de datos</h4>
<h5>
    Puntos a considerar:
    <ol>
        <li>Las variables se llamen igual</li>
        <li>Contener la misma cantidad de variables y estar en el mismo orden</li>
    </ol>
</h5>

In [8]:
unionArchivos = (dfAutos1, dfAutos2)
dfAutos = pd.concat(unionArchivos)
dfAutos.shape

(226, 24)

In [9]:
dfAutos.head(5)

      symboling Normalized make fuel   aspiration doorsstyle wheels  \
2 134    toyota        gas  std  two      hardtop        rwd  front
  134    toyota        gas  std  two    hatchback        rwd  front
  134    toyota        gas  std  two      hardtop        rwd  front
  134    toyota        gas  std  two    hatchback        rwd  front
  134    toyota        gas  std  two  convertible        rwd  front

       enginebase  length  width  ...  engine size  system  bor3 stroke  \
2 134        98.4   176.2   65.6  ...          146    mpfi  3.62    3.5
  134        98.4   176.2   65.6  ...          146    mpfi  3.62    3.5
  134        98.4   176.2   65.6  ...          146    mpfi  3.62    3.5
  134        98.4   176.2   65.6  ...          146    mpfi  3.62    3.5
  134        98.4   176.2   65.6  ...          146    mpfi  3.62    3.5

       compression hOrsepower  peak CITY  Higway  price
2 134          9.3        116  4800   24      30   9639
  134          9.3        116  4800   24      30   9989
  134          9.3        116  4800   24      30  11199
  134          9.3        116  4800   24      30  11549
  134          9.3        116  4800   24      30  17669

[5 rows x 24 columns]

In [10]:
dfAutos.reset_index(drop=True, inplace=True)

In [11]:
dfAutos.head(5)

,symboling,Normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
0,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9639
1,toyota,gas,std,two,hatchback,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9989
2,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,11199
3,toyota,gas,std,two,hatchback,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,11549
4,toyota,gas,std,two,convertible,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,17669

In [12]:
dfAutos.tail(5)

,symboling,Normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
221,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,180.2,66.9,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
222,volkswagen,gas,std,four,wagon,fwd,front,100.4,183.1,66.9,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290
223,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,67.2,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
224,volvo,gas,std,four,wagon,rwd,front,104.3,188.8,67.2,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
225,volvo,gas,std,four,sedan,rwd,front,104.3,188.8,67.2,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

In [13]:
dfAutos.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doorsstyle',
       'wheels', 'enginebase', 'length', 'width', 'heingt', 'curb',
       'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3', 'stroke',
       'compression', 'hOrsepower', 'peak', 'CITY', 'Higway', 'price'],
      dtype='object')

In [17]:
dfAutos.rename({'Normalized':'normalized'
                ,'Cylind3rs':'cylinders'
                ,'engine size':'engineSize'
                ,'bor3':'bore'
                ,'hOrsepower':'horsepower'
                ,'CITY':'city'
                ,'Higway':'higway'
               }, axis=1, inplace=True)
#axis 1 es horizontal y axis 0 es vertical

dfAutos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doorsstyle',
       'wheels', 'enginebase', 'length', 'width', 'heingt', 'curb',
       'engineType', 'cylinders', 'engineSize', 'system', 'bore', 'stroke',
       'compression', 'horsepower', 'peak', 'city', 'higway', 'price'],
      dtype='object')

In [18]:
dfAutos.head(3)

,symboling,normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9639
1,toyota,gas,std,two,hatchback,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9989
2,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,11199

<h2>2. Manejo de valores faltantes</h2>
<ol>
    <li>Identificar como se muestran los valores faltantes(NaN, ?, null, EspacioEnBlanco)</li>
    <li>Contar la cantidad de valores faltantes en cada uan de las caracteristicas</li>
    <li>Imputacion simple de valores numericos</li>
    <li>Imputacion simple de valores categoricos</li>
    <li>Eliminar observaciones o registros</li>
</ol>

<h4>2.1 Identificar como se muestran los valores faltantes</h4>

In [20]:
dfAutos.head(15)

,symboling,normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9639
1,toyota,gas,std,two,hatchback,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9989
2,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,11199
3,toyota,gas,std,two,hatchback,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,11549
4,toyota,gas,std,two,convertible,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,17669
5,toyota,gas,std,four,sedan,fwd,front,102.4,175.6,66.5,...,122,mpfi,3.31,3.54,8.7,92,4200,29,34,8948
6,toyota,diesel,turbo,four,sedan,fwd,front,102.4,175.6,66.5,...,110,idi,3.27,3.35,22.5,73,4500,30,33,10698
7,toyota,gas,std,four,hatchback,fwd,front,102.4,175.6,66.5,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,9988
8,toyota,gas,std,four,sedan,fwd,front,102.4,175.6,66.5,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,10898
9,toyota,gas,std,four,hatchback,fwd,front,102.4,175.6,66.5,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,11248
10,toyota,gas,std,two,hatchback,rwd,front,102.9,183.5,67.7,...,171,mpfi,3.27,3.35,9.3,161,5200,20,24,16558
11,toyota,gas,std,two,hatchback,rwd,front,102.9,183.5,67.7,...,171,mpfi,3.27,3.35,9.3,161,5200,19,24,15998
12,toyota,gas,std,four,sedan,rwd,front,104.5,187.8,66.5,...,171,mpfi,3.27,3.35,9.2,156,5200,20,24,15690
13,toyota,gas,std,four,wagon,rwd,front,104.5,187.8,66.5,...,161,mpfi,3.27,3.35,9.2,156,5200,19,24,15750
14,volkswagen,diesel,std,two,sedan,fwd,front,97.3,171.7,65.5,...,97,idi,3.01,3.4,23.0,52,4800,37,46,7775

In [21]:
dfAutos["normalized"].unique()

array(['gas', 'diesel'], dtype=object)

In [22]:
dfAutos["stroke"].unique()

array([3.5, 3.54, 3.35, 3.4, 3.15, '2.68', '3.47', '3.40', '2.80', '3.19',
       '3.39', '3.03', '3.11', '3.23', '3.46', '3.90', '3.41', '3.07',
       '3.58', '4.17', '2.76', '3.15', '?', '3.16', '3.64', '3.10',
       '3.35', '3.12', '3.86', '3.29', '3.27', '3.52', '2.19', '3.21',
       '2.90', '2.07', '2.36', '2.64', '3.08', '3.50', '3.54'],
      dtype=object)

In [23]:
dfAutos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226 entries, 0 to 225
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    226 non-null    object
 1   normalized   226 non-null    object
 2   make         226 non-null    object
 3   fuel         226 non-null    object
 4   aspiration   226 non-null    object
 5   doorsstyle   226 non-null    object
 6   wheels       226 non-null    object
 7   enginebase   226 non-null    float64
 8   length       226 non-null    float64
 9   width        226 non-null    float64
 10  heingt       226 non-null    float64
 11  curb         226 non-null    int64
 12  engineType   226 non-null    object
 13  cylinders    226 non-null    object
 14  engineSize   226 non-null    int64
 15  system       226 non-null    object
 16  bore         226 non-null    object
 17  stroke       226 non-null    object
 18  compression  226 non-null    float64
 19  horsepower   226 non-null    object
 20  peak         226 non-null    object
 21  city         226 non-null    int64
 22  higway       226 non-null    int64
 23  price        226 non-null    object
dtypes: float64(5), int64(4), object(15)
memory usage: 44.1+ KB

<h4>2.2 Contar los valores faltantes</h4>

In [25]:
dfAutos.replace('?', np.nan, inplace=True)

In [27]:
dfTemp = dfAutos.isnull()
dfTemp.head(10)

,symboling,normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
dfAutos["fuel"].unique()

array(['two', 'four', nan], dtype=object)

In [32]:
for variable in dfTemp.columns.values.tolist():
    print(dfTemp[variable].value_counts())
    print('')

symboling
False    226
Name: count, dtype: int64

normalized
False    226
Name: count, dtype: int64

make
False    226
Name: count, dtype: int64

fuel
False    224
True       2
Name: count, dtype: int64

aspiration
False    226
Name: count, dtype: int64

doorsstyle
False    226
Name: count, dtype: int64

wheels
False    226
Name: count, dtype: int64

enginebase
False    226
Name: count, dtype: int64

length
False    226
Name: count, dtype: int64

width
False    226
Name: count, dtype: int64

heingt
False    226
Name: count, dtype: int64

curb
False    226
Name: count, dtype: int64

engineType
False    226
Name: count, dtype: int64

cylinders
False    226
Name: count, dtype: int64

engineSize
False    226
Name: count, dtype: int64

system
False    226
Name: count, dtype: int64

bore
False    222
True       4
Name: count, dtype: int64

stroke
False    222
True       4
Name: count, dtype: int64

compression
False    226
Name: count, dtype: int64

horsepower
False    224
True       2
Name: count, dtype: int64

peak
False    224
True       2
Name: count, dtype: int64

city
False    226
Name: count, dtype: int64

higway
False    226
Name: count, dtype: int64

price
False    222
True       4
Name: count, dtype: int64