<h1 style=">Universidad Castro Carazo</h1>
<h2>Analisis Datos</h2>

<h1 style="color:#a9da88; text-align: center"> Universidad Castro Carazo</h1>
<h2 style="color:#fb7968; text-align: center">Analisis datos</h2>
<br/>
<p style="font-family: sans-serif; text-align:justify">El analisis de datos es un proceso sistematico y metodico que implica la recopilacion e interpretacion y visualizacion de conjuntos de datos con el objetivo de extraer informacion significativa y relevante. Este proceso utiliza herramientas, tecnologias y  procesos para encontrar tendencias y resolver prolemas mediante datos.</p>

<table>
    <tr>
        <td>Repositorio del set de datos</td>
        <td><a href="https://paletadecolores.com.mx/">Enlace</a></td>
    </tr>
    <tr>
        <td>Paleta de colores</td>
        <td><a href="https://paletadecolores.com.mx/">Enlace</a></td>
    </tr>
</table>

<h2>1. Carga y estandarizacion del set de datos</h2>
<ul>
    <li>Instalar las librerias necesarias</li>
    <li>Importar los archivos csv</li>
    <li>Revision general de los set de datos</li>
    <li>Generar un unico Data set</li>
</ul>

In [5]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [6]:
cols = [
    "symboling",
    "Normalized",
    "make",
    "fuel",
    "aspiration",
    "doors"
    "style",
    "wheels",
    "engine"
    "base",
    "length",
    "width",
    "heingt",
    "curb",
    "engineType",
    "Cylind3rs",
    "engine size",
    "system",
    "bor3",
    "stroke",
    "compression",
    "hOrsepower",
    "peak",
    "CITY",
    "Higway",
    "price"
]

In [40]:
# dfAutos1 = pd.read_csv("Autos1.csv", names=cols)
# dfAutos2 = pd.read_csv("autos.csv", names=cols)
dfAutos1 = pd.read_csv("DataSet_Autos01.csv", names=cols)
dfAutos2 = pd.read_csv("DataSet_Autos02.csv", names=cols)
print(f"La dimension del set de datos 1 es: {dfAutos1.shape}")
print(f"La dimension del set de datos 2 es: {dfAutos2.shape}")

La dimension del set de datos 1 es: (201, 24)
La dimension del set de datos 2 es: (201, 24)

In [8]:
dfAutos1.head(3)

,,,symboling,Normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,157.3,63.8,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,65.5,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495

In [9]:
dfAutos2.tail(3)

,,,symboling,Normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
164.0,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,168.7,64.0,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
3.0,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

<h4>1.3) Revisar los encabezados de los set de datos</h4>
<h5>
    Sanas practicas para nombrar las variables:
    <ol>
        <li>Los nombres de variables no deben de empezar con un numero</li>
        <li>Los nombres no pueden ser iguales a una palabra reservada (for, if, print)</li>
        <li>
            Los nombres no deben de contener espacios (engine size -> engineSize / engine-size)
        </li>
        <li>
            Los nombres de variables deben estar en el mismo idioma
        </li>
        <li>
            Los nombres de variables deben estar todos en Minuscula o Mayuscula
        </li>
    </ol>
</h5>

In [10]:
print(f"Listado de variables dfAutos1: {dfAutos1.columns}")
print(f"Listado de variables dfAutos2: {dfAutos2.columns}")

Listado de variables dfAutos1: Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doorsstyle',
       'wheels', 'enginebase', 'length', 'width', 'heingt', 'curb',
       'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3', 'stroke',
       'compression', 'hOrsepower', 'peak', 'CITY', 'Higway', 'price'],
      dtype='object')
Listado de variables dfAutos2: Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doorsstyle',
       'wheels', 'enginebase', 'length', 'width', 'heingt', 'curb',
       'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3', 'stroke',
       'compression', 'hOrsepower', 'peak', 'CITY', 'Higway', 'price'],
      dtype='object')

<h4>1.4) Generar un unico set de datos</h4>
<h5>
    Puntos a considerar:
    <ol>
        <li>Las variables se llamen igual</li>
        <li>Contener la misma cantidad de variables y estar en el mismo orden</li>
    </ol>
</h5>

In [11]:
unionArchivos = (dfAutos1, dfAutos2)
dfAutos = pd.concat(unionArchivos)
dfAutos.shape

(402, 24)

In [12]:
dfAutos.head(5)

,,,symboling,Normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,157.3,63.8,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,65.5,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,157.3,63.8,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [13]:
dfAutos.reset_index(drop=True, inplace=True)

In [14]:
dfAutos.head(5)

,symboling,Normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,dodge,gas,turbo,?,sedan,fwd,front,93.7,157.3,63.8,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,65.5,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495
3,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
4,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,157.3,63.8,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689

In [15]:
dfAutos.tail(5)

,symboling,Normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
397,honda,gas,std,two,hatchback,fwd,front,96.5,167.5,65.2,...,110,1bbl,3.15,3.58,9.0,86,5800,27,33,7895
398,mazda,gas,std,four,sedan,fwd,front,98.8,177.8,66.5,...,122,2bbl,3.39,3.39,8.6,84,4800,26,32,8495
399,toyota,gas,std,two,sedan,rwd,front,94.5,168.7,64.0,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
400,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
401,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695

In [16]:
dfAutos.columns

Index(['symboling', 'Normalized', 'make', 'fuel', 'aspiration', 'doorsstyle',
       'wheels', 'enginebase', 'length', 'width', 'heingt', 'curb',
       'engineType', 'Cylind3rs', 'engine size', 'system', 'bor3', 'stroke',
       'compression', 'hOrsepower', 'peak', 'CITY', 'Higway', 'price'],
      dtype='object')

In [17]:
dfAutos.rename({'Normalized':'normalized'
                ,'Cylind3rs':'cylinders'
                ,'engine size':'engineSize'
                ,'bor3':'bore'
                ,'hOrsepower':'horsepower'
                ,'CITY':'city'
                ,'Higway':'higway'
               }, axis=1, inplace=True)
#axis 1 es horizontal y axis 0 es vertical

dfAutos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doorsstyle',
       'wheels', 'enginebase', 'length', 'width', 'heingt', 'curb',
       'engineType', 'cylinders', 'engineSize', 'system', 'bore', 'stroke',
       'compression', 'horsepower', 'peak', 'city', 'higway', 'price'],
      dtype='object')

In [18]:
dfAutos.head(3)

,symboling,normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,dodge,gas,turbo,?,sedan,fwd,front,93.7,157.3,63.8,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
2,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,65.5,...,109,mpfi,3.19,3.40,9.0,85,5250,27,34,8495

<h2>2. Manejo de valores faltantes</h2>
<ol>
    <li>Identificar como se muestran los valores faltantes(NaN, ?, null, EspacioEnBlanco)</li>
    <li>Contar la cantidad de valores faltantes en cada uan de las caracteristicas</li>
    <li>Imputacion simple de valores numericos</li>
    <li>Imputacion simple de valores categoricos</li>
    <li>Eliminar observaciones o registros</li>
</ol>

<h4>2.1 Identificar como se muestran los valores faltantes</h4>

In [19]:
dfAutos.head(15)

,symboling,normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,dodge,gas,turbo,?,sedan,fwd,front,93.7,157.3,63.8,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
2,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,65.5,...,109,mpfi,3.19,3.40,9.00,85,5250,27,34,8495
3,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,...,120,mpfi,3.46,2.19,8.40,95,5000,19,24,16695
4,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,157.3,63.8,...,98,spdi,3.03,3.39,7.60,102,5500,24,30,7689
5,dodge,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
6,porsche,gas,std,two,hardtop,rwd,rear,89.5,168.9,65.0,...,194,mpfi,3.74,2.90,9.50,207,5900,17,25,32528
7,toyota,gas,std,two,sedan,rwd,front,94.5,168.7,64.0,...,98,mpfi,3.24,3.08,9.40,112,6600,26,29,9298
8,saab,gas,std,four,sedan,fwd,front,99.1,186.6,66.5,...,121,mpfi,3.54,3.07,9.30,110,5250,21,28,12170
9,dodge,gas,std,four,hatchback,fwd,front,93.7,157.3,63.8,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229
10,volvo,gas,std,four,wagon,rwd,front,104.3,188.8,67.2,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,13415
11,toyota,gas,std,two,hardtop,rwd,front,98.4,176.2,65.6,...,146,mpfi,3.62,3.50,9.30,116,4800,24,30,11199
12,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450
13,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,65.5,...,109,mpfi,3.19,3.40,9.00,85,5250,27,34,8195
14,peugot,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,...,120,mpfi,3.46,3.19,8.40,97,5000,19,24,16630

In [20]:
dfAutos["normalized"].unique()

array(['gas', 'diesel'], dtype=object)

In [21]:
dfAutos["stroke"].unique()

array(['2.68', '3.39', '3.40', '2.19', '3.23', '2.90', '3.08', '3.07',
       '3.15', '3.50', '3.19', '3.86', '3.35', '3.58', '3.64', '?',
       '3.41', '3.27', '3.54', '3.46', '3.29', '3.11', '2.64', '3.03',
       '3.52', '3.90', '4.17', '3.16', '2.07', '3.47', '2.76', '3.12',
       '3.10', '2.80'], dtype=object)

In [22]:
dfAutos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    402 non-null    object
 1   normalized   402 non-null    object
 2   make         402 non-null    object
 3   fuel         402 non-null    object
 4   aspiration   402 non-null    object
 5   doorsstyle   402 non-null    object
 6   wheels       402 non-null    object
 7   enginebase   402 non-null    float64
 8   length       402 non-null    float64
 9   width        402 non-null    float64
 10  heingt       402 non-null    float64
 11  curb         402 non-null    int64
 12  engineType   402 non-null    object
 13  cylinders    402 non-null    object
 14  engineSize   402 non-null    int64
 15  system       402 non-null    object
 16  bore         402 non-null    object
 17  stroke       402 non-null    object
 18  compression  402 non-null    float64
 19  horsepower   402 non-null    object
 20  peak         402 non-null    object
 21  city         402 non-null    int64
 22  higway       402 non-null    int64
 23  price        402 non-null    object
dtypes: float64(5), int64(4), object(15)
memory usage: 75.5+ KB

<h4>2.2 Contar los valores faltantes</h4>

In [23]:
dfAutos.replace('?', np.nan, inplace=True)

In [24]:
dfTemp = dfAutos.isnull()
dfTemp.head(10)

,symboling,normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engineSize,system,bore,stroke,compression,horsepower,peak,city,higway,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
dfAutos["fuel"].unique()

array(['two', nan, 'four'], dtype=object)

In [26]:
for variable in dfTemp.columns.values.tolist():
    print(dfTemp[variable].value_counts())
    print('')

symboling
False    402
Name: count, dtype: int64

normalized
False    402
Name: count, dtype: int64

make
False    402
Name: count, dtype: int64

fuel
False    399
True       3
Name: count, dtype: int64

aspiration
False    402
Name: count, dtype: int64

doorsstyle
False    402
Name: count, dtype: int64

wheels
False    402
Name: count, dtype: int64

enginebase
False    402
Name: count, dtype: int64

length
False    402
Name: count, dtype: int64

width
False    402
Name: count, dtype: int64

heingt
False    402
Name: count, dtype: int64

curb
False    402
Name: count, dtype: int64

engineType
False    402
Name: count, dtype: int64

cylinders
False    402
Name: count, dtype: int64

engineSize
False    402
Name: count, dtype: int64

system
False    402
Name: count, dtype: int64

bore
False    396
True       6
Name: count, dtype: int64

stroke
False    396
True       6
Name: count, dtype: int64

compression
False    402
Name: count, dtype: int64

horsepower
False    398
True       4
Name: count, dtype: int64

peak
False    398
True       4
Name: count, dtype: int64

city
False    402
Name: count, dtype: int64

higway
False    402
Name: count, dtype: int64

price
False    394
True       8
Name: count, dtype: int64

,,,symboling,Normalized,make,fuel,aspiration,doorsstyle,wheels,enginebase,length,width,...,engine size,system,bor3,stroke,compression,hOrsepower,peak,CITY,Higway,price
NaN,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
26.0,1,148,dodge,gas,turbo,-97,sedan,fwd,front,93.7,157.3,63.8,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
185.0,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,171.7,65.5,...,109,mpfi,3.19,3.40,9.00,85,5250,27,34,8495
112.0,0,?,peugot,gas,std,four,wagon,rwd,front,114.2,198.9,68.4,...,120,mpfi,3.46,2.19,8.40,95,5000,19,24,16695
78.0,1,161,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,157.3,63.8,...,98,spdi,3.03,3.39,7.60,102,5500,24,30,7689
20.0,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
125.0,3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,168.9,65.0,...,194,mpfi,3.74,2.90,9.50,207,5900,17,25,32528
164.0,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,168.7,64.0,...,98,mpfi,3.24,3.08,9.40,112,6600,26,29,9298
132.0,2,104,saab,gas,std,four,sedan,fwd,front,99.1,186.6,66.5,...,121,mpfi,3.54,3.07,9.30,110,5250,21,28,12170
23.0,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,157.3,63.8,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229